/* Login/Create user Styles */
body {
    font-family: Cambria, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #028a56;
}

.toggle-link {
    margin-top: 15px;
    display: block;
    cursor: pointer;
    color: #04AA6D;
    text-decoration: underline;
}

.toggle-link:hover {
    color: #028a56;
}

/* Hide checkboxes */
input[type="radio"] {
    display: none;
}

#loginForm, #createUserForm {
    display: none;
}

input#login:checked ~ .form-container #loginForm {
    display: block;
}

input#createUser:checked ~ .form-container #createUserForm {
    display: block;
}