body {
    font-family: Cambria, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.order-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.list-order {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-info {
    display: grid;
    grid-template-columns: 10px 250px 260px 100px; /* Adjust the grid layout */
    align-items: center;
}

.order-info p {
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

.order-info a {
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.order-items-list {
    display: none;
}

/* Show order items when checkbox is checked */
input[type="checkbox"]:checked ~ .order-items-list {
    display: block;
}

/* Style the view order items link */
.view-order-items {
    cursor: pointer;
    color: #0073e6;
    margin-top: 10px;
    display: inline-block;
}

.view-order-items:hover {
    text-decoration: underline;
}

/* Style the order items list */
.order-items-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #fff;
}

.order-items-list li:hover {
    background-color: #f1f1f1;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    vertical-align: middle;
}

button:hover img {
    opacity: 0.7;
}