/* Sidebar and Cart styles */
body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.cart-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
}

.cart-sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.cart-sidebar .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.cart-sidebar h2 {
    padding-left: 25px;
    font-size: 28px;
    color: white;
}

#cartItems {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

#cartItems p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

#cartItems .empty-cart {
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid #444;
    color: white;
}

#cartItems .cart-item-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

#cartItems .cart-item-info img {
    width: 60px; /* Adjust the image size */
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

#cartItems .item-details {
    display: flex;
    flex-direction: column;
}

#cartItems .item-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
}

#cartItems .item-author {
    font-size: 14px;
    color: #ddd;
    margin: 2px 0;
}

#cartItems .item-price {
    font-size: 14px;
    color: #ccc;
    margin: 2px 0;
}

#cartItems .item-quantity {
    font-size: 14px;
    color: #aaa;
    margin: 2px 0;
}

#cartToggle:checked + .cart-sidebar {
    width: 300px;
}

#cartToggle:checked ~ .shop-container {
    margin-right: 300px;
    transition: margin-right 0.5s;
}

.cart-sidebar .proceedToPay {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 80%;
    text-align: center;
}

.cart-sidebar .proceedToPay:hover {
    background-color: #039f60;
}

.remove-item-form {
    margin-left: auto;
}

.remove-item-btn {
    background-color: transparent;
    border: none;
    color: #876969;
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
}

.remove-item-btn:hover {
    color: #755454;
}
